.internal-layout {
  position: relative;
  display: grid;
  grid-template-areas:
    'hdr hdr'
    'mnu cnt';
  grid-template-rows: $header-height 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
  // overflow: hidden;
  background-color: $color-gray-bg;

  &__content {
    position: relative;
    grid-area: cnt;
    padding: $fold-size * 6 $fold-size * 7;
    overflow-y: auto;

    @include media-tablet {
      padding: $fold-size * 5;
    }

    @include media-mobile {
      padding: $fold-size * 5 $fold-size * 3;
    }
  }

  &--menu-hidden {
    .internal-layout__content {
      padding-right: $fold-size * 8;
      padding-left: $fold-size * 8;

      @include media-tablet {
        padding-right: $fold-size * 5;
        padding-left: $fold-size * 5;
      }

      @include media-mobile {
        padding-right: $fold-size * 3;
        padding-left: $fold-size * 3;
      }
    }
  }

  &__header {
    z-index: 4;
    grid-area: hdr;
  }

  &__side-menu-mask {
    grid-area: mnu;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s linear;

    &--visible {
      width: $menu-width;
    }

    @include media-tablet {
      position: absolute;
      z-index: 3;
    }
  }

  &__side-menu {
    width: $menu-width;
    height: inherit;
  }
}
